[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai-whisper = "*"
qt-material = "*"
pyqt6 = "*"
moviepy = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.11"
