[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
whisper = {git = "https://github.com/openai/whisper.git"}
qt-material = "*"
pyqt5 = "==5.14"

[dev-packages]

[requires]
python_version = "3.10"
